node_modules
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local
*.log
.DS_Store
.git
.gitignore
.github
uploads/*
!uploads/.gitkeep
coverage
.nyc_output
*.md
Dockerfile
.dockerignore
scripts
*.test.js
*.spec.js
